@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;

  i,
  .iconify,
  svg {
    color: $subTitle;
    font-size: 3rem;
    display: inline-block;
    vertical-align: middle;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  p {
    color: $subTitle;
    font-size: 10px;
    margin-top: 5px;
    transition: color 0.3s ease-in-out;
  }

  &:hover {
    i,
    .iconify,
    svg {
      color: $skillsColor;
      transform: scale(1.15);
    }
    p {
      color: $skillsColor;
    }
  }
}
